# 问题定义 

把03a的订单数据集里的“城市”转化为虚拟变量

# 数据预处理

In [1]:
import pandas as pd #导入Pandas
df_sales = pd.read_csv('易速鲜花订单记录.csv') #载入数据
df_sales.head() #显示头几行数据

      订单号     产品码           消费日期           产品说明  数量     单价    用户码  城市
0  536374   21258  6/1/2020 9:09        五彩玫瑰五支装  32  10.95  15100  北京
1  536376   22114  6/1/2020 9:32       茉莉花白色25枝  48   3.45  15291  上海
2  536376   21733  6/1/2020 9:32  教师节向日葵3枝尤加利5枝  64   2.55  15291  上海
3  536378   22386  6/1/2020 9:37       百合粉色10花苞  10   1.95  14688  北京
4  536378  85099C  6/1/2020 9:37       橙黄香槟色康乃馨  10   1.95  14688  北京

In [2]:
# 把多分类字段转换为二分类哑编码 
category_features = ['城市'] #要转换的特征列表
df_sales = pd.get_dummies(df_sales, #创建哑变量
                          drop_first=True, 
                          columns=category_features) 
# df_sales = pd.get_dummies(df_sales, 
#                           columns=category_features) #创建哑变量
df_sales #显示数据

,订单号,产品码,消费日期,产品说明,数量,单价,用户码,城市_北京,城市_广州,城市_成都,城市_深圳,城市_苏州,城市_西安
0,536374,21258,6/1/2020 9:09,五彩玫瑰五支装,32,10.95,15100,1,0,0,0,0,0
1,536376,22114,6/1/2020 9:32,茉莉花白色25枝,48,3.45,15291,0,0,0,0,0,0
2,536376,21733,6/1/2020 9:32,教师节向日葵3枝尤加利5枝,64,2.55,15291,0,0,0,0,0,0
3,536378,22386,6/1/2020 9:37,百合粉色10花苞,10,1.95,14688,1,0,0,0,0,0
4,536378,85099C,6/1/2020 9:37,橙黄香槟色康乃馨,10,1.95,14688,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87175,581585,21684,6/9/2021 12:31,产品说明掩码,12,5.00,15804,0,0,0,1,0,0
87176,581585,22398,6/9/2021 12:31,产品说明掩码,12,499.00,15804,0,0,0,1,0,0
87177,581585,23328,6/9/2021 12:31,产品说明掩码,4,58.00,15804,0,0,0,1,0,0
87178,581585,23145,6/9/2021 12:31,产品说明掩码,12,88.90,15804,0,0,0,1,0,0
87179,581585,22466,6/9/2021 12:31,产品说明掩码,12,78.00,15804,0,0,0,1,0,0

此代码段的目的是将具有多分类特征的数据集转换为只具有二进制（哑编码）特征的数据集。这是因为某些机器学习算法不能处理非数值数据或多分类数据，因此需要对此类数据进行特殊处理。在这个例子中，我们将名为“城市”的多分类特征转换为哑编码的二分类特征。

以下是代码段的分步解释：

1. 创建一个名为`category_features`的列表，用于存储要进行哑编码转换的多分类特征的名称。在这个例子中，我们有一个名为“城市”的多分类特征。
   ```
   category_features = ['城市']
   ```

2. 使用`pd.get_dummies()`函数将这些特征转换为哑编码。这将把具有多个类别的特征转换成表示每个类别的'0'和'1'的互斥特征。这里我们设置了`drop_first=True`，表示将删除第一个类别，以避免线性相关性。这是一个可选参数，可以根据具体情况进行设置。
   ```
   df_sales = pd.get_dummies(df_sales,
                             drop_first=True,
                             columns=category_features)
   ```

3. 显示转换后的数据：
   ```
   df_sales
   ```

现在，数据集df_sales已经完成了多分类特征到哑编码的转换，可以将数据集输入到适用于数值特征的机器学习算法中进行训练和预测。